/*reset problem areas*/

* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

body {
  font-family: 'Open Sans', sans-serif;
}

.input-section {
  display: inline-block;
  width: 49vw;
  height: 100vh;
  background-color: #455A64;
}

.display-bookmark-area {
  display: inline-block;
  width: 49vw;
  height: 100vh;
  background-color: #CFD8DC;
}

h1 {
  padding-top: 2em;
  color: #FFFFFF;
  font-size: 4.5rem;
  text-align: center;
}

.user-form {
  display: block;
  margin: auto;
  width: 33.5rem;
  height: 3.5rem;
  font-size: 2.5rem;
  margin-top: 3.5rem;
  padding-left: .7rem;
}

.user-form::placeholder {
  color: rgb(187 189 191);
}

.logo {
  height: 3.7rem;
}

.enter-button {
  border: none;
  background-color: #FFC107;
  color: #FFFFFF;
  padding: 0;
}

.enter-button:hover {
  background-color: #FFD773
}

/*read button stuff*/

.read-button, 
.delete-button {
  font-size: 1.3rem;
  text-decoration: underline;
}

.read .read-button {
  color: #F05A28;
  font-weight: 800;
}

ul {
  list-style-type: none;
}