* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*----------start default desktop layout----------*/
section {
  float: left;
  height: 100vh;
  overflow: scroll;
  width: 50%;
}

/*----------start input section styles----------*/
.input-section {
  background-color: #455A64;
}

h1 {
  color: #FFF;
  font-weight: 800;
  font-size: 3.3rem;
  text-align: center;
  width: 87.5%;
  margin-top: 11.85rem;
  margin-bottom: 3.35rem;
  margin-left: 7%;
}

.logo {
  height: 3rem;
  position: relative;
  top: .16rem;
}

.user-form-input {
  display: block;
  font-size: 1.8rem;
  height: 2.6rem;
  margin: 0 auto;
  margin-top: 3.1rem;
  padding: .6rem;
  width: 87.5%;
}

/*----------start enter button styles----------*/

.enter-button {
  background-color: #FFC107;
  color: #FFF;
  font-size: 1rem;
  font-weight: 800;
  height: 2.27rem;
  margin-bottom: 11.9rem;
  margin-top: 3.2rem;
}

.enter-button:hover {
  background-color: #FFD773;
}

.enter-button:disabled {
  background-color: #CFD8DC;
}

/*----------end enter button styles----------*/
/*----------end input section styles----------*/
/*----------start card section styles----------*/

.card-section {
  background-color: #CFD8DC;
}

article {
  background-color: #FFF;
  border: .1rem solid #607D8B;
  margin-bottom: 1.6rem;
  margin-left: 3.4%;
  width: 94%;
}

div {
  width: 90%;
  margin-left: 5%;
}

.bookmark {
  height: 3.1rem;
  padding-top: .85rem;
}

.url {
  height: 3.85rem;
  padding-top: 1.3rem;
}

.underline {
  border-bottom: .1rem solid #CFD8DC;
}

h2 {
  color: #455A64;
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  font-size: 1.2rem;
  color: #607D8B;
  text-decoration-color: #F2F4F4;
  padding-bottom: .1rem;
}

a:hover {
  font-weight: 800;
  text-decoration-color: #FFC107;
}

p {
  display: block;
  margin: 1.5rem;
  font-size: 1.2rem;
  font-weight: 800;
}

/*----------start card button styles----------*/

.delete-button {
  float: right;
}

.read .read-button{
  color: red;
  font-weight: 800;
  text-decoration: none;
}

.btn {
  color: #455A64;
  font-size: 1rem;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  border: none;
  padding: none;
  margin: .35rem 0 .35rem 0;
}

.btn:hover {
  font-weight: 800;
  text-decoration-color: #FFC107;
}
/*----------end card button styles----------*/
/*----------end card section styles----------*/
/*----------end default desktop layout----------*/
/*----------start layout changes for mobile----------*/
@media screen and (max-width: 57rem) {
  section {
    height: 100%;
    width: 100%;
  }
/*----------start changes to input section----------*/
  h1 {
    font-size: 1.35rem;
    margin-bottom: 1.4rem;
    margin-top: .9rem;
  }

  .logo {
    height: 1.3rem;
  }

  .user-form-input {
    font-size: 1.6rem;
    height: 2.4rem;
    margin-top: 1.09rem;
    padding: .4rem;
  }

  .enter-button {
    font-size: .9rem;
    height: 2.1rem;
    margin-bottom: 1.2rem;
  }
/*----------end changes to input section----------*/
/*----------start changes to card section----------*/
  article {
    border: thin solid #607D8B;
    margin-bottom: .8rem;
  }

  .bookmark {
    height: 2.2rem;
    padding-top: .5rem;
  }

  .url {
    height: 2.8rem;
    padding-top: .9rem;
  }

  .underline {
    border-bottom: thin solid #CFD8DC;
  }

  h2 {
    font-size: 1.2rem;
  }

  a {
    font-size: 1rem;
  }

  .btn {
    margin: .5rem 0 .45rem 0;
  }
/*----------end changes to card section----------*/
}
/*----------end layout changes for mobile----------*/